h1{
    color: blue;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 36px;
}
p{
    border: 5px solid black;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}

h2{
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 28px;
}

ul{
    border: 3px hotpink;
    border-width: 2px;
    border-style: solid;
}